<span id="contact" class="anchor"></span>

<div class="bg-diagonal"></div>

<div class="main-container">

    <h2>Say hi!</h2>
    <div class="question">Want to discuss a new project?</div>
    <div class="text">Say hello! Let's discuss your ideas and make it happen.</div>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="name-container">
            <input #name="ngModel" minlength="2" [(ngModel)]="contactData.name" type="text" name="name" id="name" placeholder="Your name" required>
            @if (!name.valid && name.touched && !name.disabled) {
                <span class="name-notification">Please enter your name.</span>
            }
            <!-- <label for="name">Your name</label> -->
        </div>
        <div class="email-container">
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" name="email" id="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if (!email.valid && email.touched && !email.disabled) {
                <span class="email-notification">Please enter your email.</span>
            }
            <!-- <label for="email">Your email</label> -->
        </div>
        <div class="message-container">
            <textarea #message="ngModel" minlength="20" [(ngModel)]="contactData.message" name="message" id="message" placeholder="Your message" required></textarea>
            @if (!message.valid && message.touched && !message.disabled) {
                <span class="message-notification">Please enter a message (at least 20 characters required).</span>
            }
            <!-- <label for="message">Your message</label> -->
        </div>
        <div class="privacy-container">
            <div class="privacy-check-container">
                <input #privacy="ngModel" [(ngModel)]="contactData.checkbox" type="checkbox" id="privacy" name="privacy" required>
                <label for="privacy">I've read the
                    <div><a href="">privacy policy</a></div>
                    and agree to the processing of my data as outlined.
                </label>
            </div>
            @if (!privacy.valid && privacy.touched && !privacy.disabled) {
                <span class="privacy-notification">Please accept the privacy policy.</span>
            }
        </div>
        <input class="btn-hello" type="submit" value="Say hello ;)">
    </form>

    <div class="contact-images">
        <a href="" target="_blank"><img src="./../../../assets/img/github.svg"></a>
        <a href="" target="_blank"><img src="./../../../assets/img/email.svg"></a>
        <a href="" target="_blank"><img src="./../../../assets/img/linkedin.svg"></a>
    </div>    
    <img class="logo" src="./../../../assets/img/logo-ag.png">
    <div class="mail">anita.gasteiner&#64;posteo.de</div>
    <div class="link-legal-notice">
        <a href="">Legal notice</a>
    </div>

</div>