<div class="main-container">
    <h2>Say hi!</h2>
    <div class="question">Want to discuss a new project?</div>
    <div class="text">Say hello! Let's discuss your ideas and make it happen.</div>
    <form>
        <input type="text" name="name">
        <input type="email" name="email">
        <input type="text" name="message">
        <div class="privacy-check-container">
            <input type="checkbox" name="privacy">
            <label for="privacy">I've read the <a class="link-privacy-policy" href="">privacy policy</a> and agree to the processing of my data as outlined.</label>
        </div>
        <input class="btn-submit" type="submit" value="Say hello ;)">
    </form>
    <div class="contact-images">
        <img src="./../../../assets/img/github.svg">
        <img src="./../../../assets/img/email.svg">
        <img src="./../../../assets/img/linkedin.svg">
    </div>
    <img class="logo" src="./../../../assets/img/logo-ag.png">
    <div class="mail">
        <a href="mailto:anita.gasteiner@posteo.de">anita.gasteiner&#64;posteo.de</a>        
    </div>
    <div class="link-legal-notice">
        <a href="">Legal notice</a>
    </div>
</div>