<div class="navbar-container">
    <nav>
        <div class="about-container">
            <a href="./#about" (click)="this.generalService.startImageTransition()">About me</a>
        </div>
        <div class="skills-container">
            <a href="./#skills" (click)="this.generalService.startImageTransition()">My skills</a>
        </div>
        <div class="portfolio-container">
            <a href="./#portfolio" (click)="this.generalService.startImageTransition()">Portfolio</a>
        </div>
    </nav>
</div>
