<h2>About me</h2>
<p>I am a front-end developer based in Vienna, Austria. I&nbsp;enjoy helping designers and companies to bring their ideas into real life. I&nbsp;am looking forward to continuing my developer career with a&nbsp;job in a&nbsp;junior web developer position.</p>
<p>If you think I&nbsp;would be a&nbsp;good match for your projects, contact me!</p>
<div class="center-container">
    <div>
        <img src="./../../../assets/img/house.svg">
        <span>Based in Vienna</span>
    </div>
    <div>
        <img src="./../../../assets/img/laptop.svg">
        <span>Open to work remotely</span>
    </div>
</div>
<div class="bottom-container">
    <a href=""><div class="btn-talk">Let's talk</div></a>
    <div class="image-container">
        <img src="./../../../assets/img/anita-gasteiner.jpg">
    </div>
    <div class="arrow-container">
        <img class ="arrow" src="./../../../assets/img/arrow-diagonal-left.svg">
    </div>    
</div>
