<div class="main-container">
    <div class="head-container">
        <h1>Frontend<br>Developer</h1>
        <div class="name-container">
            <div class="line"></div>
            <div class="name">Anita Gasteiner</div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="mail">
            <a href="mailto:anita.gasteiner@posteo.de">anita.gasteiner&#64;posteo.de</a>
        </div>
        <div class="scroll-container">
            <img src="../../assets/img/arrow.svg">
            <div class="scroll-info">Scroll<br>Down</div>
        </div>    
    </div>

</div>