h1 {
    font-size: 45px;
    font-weight: 800;
}

.name-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.line {
    border: 3px solid rgba(0, 0, 0, 1);
    width: 180px;
    height: 0;

}

.name {
    font-family: 'Overpass', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: rgba(0, 188, 143, 1);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 300;    
    &:hover {
        color: red;
    }
}

.scroll-info {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 300;
}