<!-- <span class="anchor anchor-plus" id="skills"></span> -->
<span class="anchor-plus" id="skills"></span>
<div class="main-container">
    @if (this.generalService.currentLanguage == 'de') { <!-- TODO Responsiveness!! -->
        <fieldset [ngStyle]="{top: '-12px'}">
            <legend [ngStyle]="{padding: '0 8px'}">
                <h2 [ngStyle]="{'font-size': '24px'}">Meine Skills</h2>
            </legend>
        </fieldset>
    }
    @if (this.generalService.currentLanguage == 'en') {
        <fieldset>
            <legend>
                <h2>My skills</h2>
            </legend>
        </fieldset>
    }
    <div class="skills-container">
        <div></div>
        <div>
            @for (skill of skills; track skill.name; let index = $index) {
                <app-skill [skill]="skill"></app-skill>
            }
        </div>
        <div></div>
    </div>
    <div class="learn-container">
        <img src="./../../../assets/img/learn.svg">
        <div>
            @if (this.generalService.currentLanguage == 'de') {
                Sie brauchen noch einen Skill? <a href="#contact">Kontaktieren Sie mich.</a> Ich bin immer bereit zu lernen.
            }
            @if (this.generalService.currentLanguage == 'en') {
                Don't see the skill you need? <a href="#contact">Contact&nbsp;me.</a><br>I'm always ready to learn.
            }
        </div>
    </div>
    <div class="bottom-container">
        <div class="arrow-container">
            <img class="arrow" src="./../../../assets/img/arrow-diagonal-right.svg">
        </div>
    </div>
</div>