<div class="main-container">
    <fieldset>
        <legend><h2>My skills</h2></legend>
    </fieldset>
    <div class="skills-container">
        <div>
            <img src="./../../../assets/img/angular.svg">
            <div>Angular</div>
        </div>
        <div>
            <img src="./../../../assets/img/type-script.svg">
            <div>TypeScript</div>
        </div>
        <div>
            <img src="./../../../assets/img/java-script.svg">
            <div>JavaScript</div>
        </div>
        <div>
            <img src="./../../../assets/img/html.svg">
            <div>HTML</div>
        </div>
        <div>
            <img src="./../../../assets/img/scss.svg">
            <div>SCSS</div>
        </div>
        <div>
            <img src="./../../../assets/img/css.svg">
            <div>CSS</div>
        </div>
        <div>
            <img src="./../../../assets/img/firebase.svg">
            <div>Firebase</div>
        </div>
        <div>
            <img src="./../../../assets/img/git.svg">
            <div>Git</div>
        </div>
        <div>
            <img src="./../../../assets/img/rest-api.svg">
            <div>REST-API</div>
        </div>
        <div>
            <img src="./../../../assets/img/scrum.svg">
            <div>Scrum</div>
        </div>
        <div>
            <img src="./../../../assets/img/material-design.svg">
            <div>Material Design</div>
        </div>
        <div>
            <img src="./../../../assets/img/php.svg">
            <div>PHP</div>
        </div>
    </div>
    <div class="learn-container">
        <img src="./../../../assets/img/learn.svg">
        <div>Don't see the skill you need? <a href="">Contact&nbsp;me.</a><br>I'm always ready to learn.</div>
    </div>
    <div class="bottom-container">
        <div class="arrow-container">
            <img class="arrow" src="./../../../assets/img/arrow-diagonal-right.svg">
        </div>
    </div>
</div>