@font-face {
    font-display: swap;
    font-family: 'Syne';
    src: url('assets/fonts/Syne-VariableFont_wght.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Overpass';
    src: url('assets/fonts/Overpass-VariableFont_wght.ttf');
}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: rgba(255, 252, 243, 1);
    color: rgba(0, 0, 0, 1);
}

h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    margin: 0 0 42px;
}

p {    
    margin: 0 23px;
}