@use './app/shared/responsive-design.scss' as bp;

@font-face {
    font-display: swap;
    font-family: 'Syne';
    src: url('assets/fonts/Syne-VariableFont_wght.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Overpass';
    src: url('assets/fonts/Overpass-VariableFont_wght.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Overpass-Mono';
    src: url('assets/fonts/OverpassMono-VariableFont_wght.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: rgba(255, 252, 243, 1);
    color: rgba(0, 0, 0, 1);
}

h1 {
    font-family: 'Syne', sans-serif;
    // font-size: 45px;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    // font-size: 36px;
    font-size: 32px;
    text-align: center;
    margin: 0 0 42px;
    animation: color 3s infinite;
}

h3 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 28px;
}

p {
    margin: 0 23px;
    @include bp.lg {
        margin: 0 48px;   
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

.arrow {
    height: 167px;
}

@keyframes color {
    0% { color: rgba(0, 0, 0, 1); }
    50% { color: rgba(0, 0, 0, 1); }
    51% { color: rgba(0, 188, 143, 1); }
    100% { color: rgba(0, 188, 143, 1); }
}