.projects-container {
    padding: 0 23px;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 63px;
    >p {
        margin: 0;
    }
}

.project-container:nth-child(even) {
    text-align: left;
    align-items: flex-start;
}

.project-container:last-child {
    margin-bottom: 100px;
}

.project-img {
    padding-top: 16px;
    // width: 316px;
    width: 270px;
}