<h2>Portfolio</h2>
<p>Explore a&nbsp;selection of my work here and interact with my projects to see my skills in action.</p>
<div class="projects-container">
    <div class="project-container">
        <h3>11/2024<br>Jump and Run Game</h3>
        <p>HTML, CSS, JavaScript, Git, Objektorientierung</p>
        <img class="project-img" src="./../../../assets/img/demon_woods_mobile.png">
    </div>
    <div class="project-container">
        <h3>07/2024<br>Projektmanagement-Tool</h3>
        <p>HTML, CSS, JavaScript, Git, Firebase</p>
        <img class="project-img" src="./../../../assets/img/join_mobile.png">
    </div>
    <div class="project-container">
        <h3>05/2024<br>Pokémon-Register</h3>
        <p>HTML, CSS, JavaScript, Git, API</p>
        <img class="project-img" src="./../../../assets/img/pokedex_mobile.png">
    </div>
</div>