.project-container {
    display: flex;
    flex-direction: column;    
    margin-top: 63px;
    // &:has(.project-img) {
    //     .project-details {
    //         animation: project-details 0.25s linear forwards;
    //         animation-delay: 3s;
    //     }
    // }        
}

.project-left {
    text-align: left;
    align-items: flex-start;
}

.project-right {
    align-items: flex-end;
    text-align: right;
}

.project-img-container {
    position: relative;
}

.project-border-portrait {
    position: absolute;
    left: 0;
    top: 13px;
    right: 1px;
    bottom: 5px;    
    border: 6px solid rgba(0, 188, 143, 1);
    border-radius: 39px;
    display: none;
    transition: display 5s;
}

.project-border-landscape {
    position: absolute;
    left: -4px;
    top: 15px;
    right: -4px;
    bottom: 6px;    
    border: 6px solid rgba(0, 188, 143, 1);
    border-radius: 29px;
    display: none;
    transition: display 5s;
}

.framed {   
    display: unset;
}

.project-img {
    padding-top: 16px;
    // width: 316px;
    width: 270px;
    filter: grayscale(100%);
    transition: filter 1s;
}

.colored {
    filter: unset;
}

.project-details-container {    
    height: 600px;
    width: 100%;
    position: relative;    
}

.project-details {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    top: -170px;
    transition: opacity 1s, top 1s;
}

.visible {
    opacity: 1;
    top: 0;
}

.absolute-left {
    left: 0;
}

.absolute-right {
    right: 0;
}

.project-skills {
    color: rgba(0, 188, 143, 1);
    padding-bottom: 18px;
}

.project-link {
    border: 4px solid rgba(0, 0, 0, 1);
}

a {
    font-size: 26px;
    color: rgba(0, 0, 0, 1);
    padding: 20px 30px;
    margin-top: 18px;
}

// @keyframes project-details {
//     from {
//         top: -160px;
//     }
//     to {
//         top: 0;
//     }
// }